.page-top{
    background-color: darkkhaki;
    padding: 10px;
    text-align: center;
}
.page-left{
    background-color: darkorange;
    padding: 10px;
    text-align: justify;
    width:75%;
    height:400px;
    float:left;
}
.page-right{
    background-color: darkred;
    padding: 10px;
    text-align: justify;
    width:22.8%;
    height:400px;
    float:right;
}
body{
    margin: 0 auto;
}
.page-left .content{
    text-align: justify;
    padding: 10px;
}
.page-left header{
    color:burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}